.text {
    height: 10px;
    width: 2px;
    background-color: black;
}

.container{
    width:min-content;
    padding-left: 1px;
}

.image-container{
width:600px;
height:600px;
}


.image-container img{
width:100%;
height:100%;
object-fit: cover;
object-fit: contain;
object-fit: fill;
}

